/* styles.css */

::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: rgb(0, 0, 0);
}

/* styles.css */

.App {
    height: 8000vh;
    background-color: turquoise;
    padding: 20px;
}

.title {
    font-size: 80px;
    font-weight: bold;
}

.separator {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 15px;
    background-color: darkorange;
}

.minus-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: 70%;
    margin-top: 20px;
    border: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: #1D3B54;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-color: #1D3B54;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.button {
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: #1D3B54;
    background-color: #1D3B54;
    cursor: pointer;
    margin-left: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-item {
    font-size: 30px;
    font-weight: normal;
    color: black;
    width: 70%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #1D3B54;
}

.input {
    font-size: 25px;
    border: none;
    width: 90%;
    background-color: turquoise;
}

.plus-button {
    font-weight: bold;
    color: #1D3B54;
    margin-top: 20px;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: #1D3B54;
    background-color: turquoise;
    cursor: pointer;
    margin-left: 20px;
}